[project]
name = "pyalign"
version = "0.1.0"
description = ""
readme = "README.md"
requires-python = ">=3.14.0"
dependencies = []

[dependency-groups]
dev = ["nodejs-wheel-binaries>=22.20.0", "numpy>=2.3.4", "pyright>=1.1.407", "pytest>=8.4.2", "ruff>=0.14.4"]

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = ["ALL"]
ignore = ["D", "TC004", "ANN001", "INP001"]

[tool.pyright]
stubPath = "typings"
typeCheckingMode = "strict"
reportUnknownVariableType = false
reportUnknownMemberType = false
reportUntypedFunctionDecorator = false
reportMissingTypeStubs = false
reportMissingModuleSource = false

[tool.pytest.ini_options]
pythonpath = ["."]
